$card-footer-height: 140px;
$border-radius: 7px;

.card {
  background: #e5e7e9;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    box-shadow: 0 10px 20px 1px gray;
    transform: scale(1.03);
  }
  img {
    width: 100%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  footer {
    padding: 10px 3px;
    height: $card-footer-height;
    position: relative;
    padding: 10px;

    h2 {
      font-weight: 400;
      font-size: 20px;
      color: #000;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    div {
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;

      display: flex;
      justify-content: space-between;

      p,
      button {
        min-width: 45%;
        max-width: 50%;
      }
    }

    p {
      border: 2px solid black;
      color: #000;
      border-radius: 8px;
      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.square {
  aspect-ratio: 1/1;
}
